/*
* Fonts
*/

/* -------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Titan+One&display=swap');

/*
* Reset Everything...
*/

/* -------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
* Vars
*/

/* -------------------------------------------------------------------------- */
:root {}


/* -------------------------------------------------------------------------- */
body {
  font-family: "Titan One", sans-serif;
  width: 100%;
  height: 100vh;
}

main {
  display: flex;
  width: 100%;
  height: 100vh;


}

/* -------------------------------------------------------------------------- */
section {
  width: 100%;
  /* margin: 1rem; */
}

.artSection {
  background-color: #e2e2fe;
}

.mainSection {
  background-color: #fcf9f3;
  padding: 1rem;
  padding-left: 2.5rem;
}


/* -------------------------------------------------------------------------- */
nav {
  background-color: red;
}

nav ul {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;

  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 0.8rem;
  font-style: normal;
}

/*  */
.titleContainer {}

.titleContainer span {
  font-size: 4rem;
  text-transform: uppercase;

  text-shadow:
    -1px -1px 0 #000,
    +1px -1px 0 #000,
    -1px +1px 0 #000,
    +1px +1px 0 #000,
    +4px +6px 0px #000;
}

.color1 {
  color: #fd91e8;
}
.color2 {
  color: #715fcc;
}