@font-face {
  font-family: 'Round';
  src: url('./round.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Keycaps';
  src: url('./keycaps.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(0, 0%, 8%);
  --primary-color: hsl(0, 0%, 18%);
  --secondary-color: hsl(0, 0%, 28%);

  --angle: 45deg;
  --stop1: 25%;
  --stop2: 75%;

  --bg-size: 120px;
  --bg-pos: 60px;
}


/* -------------------------------------------------------------------------- */
body {
  background-color: var(--background-color);
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
  opacity: var(--opacity);

  background-image:
    repeating-linear-gradient(var(--angle),
      var(--primary-color) var(--stop1),
      transparent var(--stop1),
      transparent var(--stop2),
      var(--primary-color) var(--stop2),
      var(--primary-color)),

    repeating-linear-gradient(var(--angle),
      var(--primary-color) var(--stop1),
      var(--secondary-color) var(--stop1),
      var(--secondary-color) var(--stop2),
      var(--primary-color) var(--stop2),
      var(--primary-color));

  background-position:
    0 0,
    var(--bg-pos) var(--bg-pos);

  background-size: var(--bg-size) var(--bg-size);
}

/* -------------------------------------------------------------------------- */
.app {
  text-align: center;
  background-color: #c2baa7;
  width: 80%;
  max-width: 420px;
  padding: 1.5rem;
  border-radius: 6px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

  box-shadow: 0px 20px #9e9888;
  margin-bottom: 20px;
}

/* -------------------------------------------------------------------------- */
header {
  z-index: 1;
  margin-bottom: 1rem;
  display: flex;
  background-color: #67625B;
  font-family: 'Round', sans-serif;
  padding: 0.5rem;
  padding-bottom: 1rem;
  border-radius: 8px;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

header h2 {
  color: gray;
  font-size: 0.8rem;
}


/*
* Cover
*/

/* -------------------------------------------------------------------------- */
.coverContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  max-height: 180px;
}

.coverContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  /* Ensures it doesn't interfere with interactions */
}

.coverContainer img {
  width: 100%;
  height: 100%;

  border-radius: 8px;
  object-fit: cover;
  /* background-color: #333; */
}

/*
* Audio
*/

/* -------------------------------------------------------------------------- */
audio {
  width: 100%;
  margin: 1rem 0;
}

#audioPlayer {
  /* display: none; */
}


/*
* Controls
*/

/* -------------------------------------------------------------------------- */
.controlsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.downloadButtonsContainer {
  display: flex;
  gap: 0.5rem;
}

.downloadButtonsContainer button {
  width: 100%;
}

/* -------------------------------------------------------------------------- */
button {
  font-family: 'Keycaps', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;

  border: none;
  border-radius: 4px;
  /* border-bottom: 3px solid hsl(0, 0%, 100%, 0.1); */

  padding: 0.7rem;
  margin-bottom: 8px;
  cursor: hand;

  color: #ece6e4;
  background-color: hsl(21, 25%, 35%);
  box-shadow: 0 8px hsl(21, 25%, 20%);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; */
}


/* -------------------------------------------------------------------------- */
button:hover {
  background-color: hsl(21, 25%, 40%);
  box-shadow: 0 8px hsl(21, 25%, 25%);
}

button:active {
  box-shadow: 0 3px hsl(21, 25%, 25%);
  transform: translateY(4px);
}



/* -------------------------------------------------------------------------- */
.buttonDisabled {
  background-color: hsl(0, 0%, 40%);
  box-shadow: 0 5px hsl(0, 0%, 25%);

  transform: translateY(4px);
  cursor: not-allowed;
}

/* -------------------------------------------------------------------------- */
.buttonDisabled:hover {
  background-color: hsl(0, 0%, 40%);
  box-shadow: 0 5px hsl(0, 0%, 25%);

  transform: translateY(4px);
  cursor: not-allowed;
}

/* -------------------------------------------------------------------------- */
.buttonDownloading {
  background-color: hsl(84, 41%, 40%);
  box-shadow: 0 5px hsl(84, 41%, 25%);

  transform: translateY(4px);
  cursor: not-allowed;
}

/* -------------------------------------------------------------------------- */
.buttonDownloading:hover {
  background-color: hsl(84, 41%, 40%);
  box-shadow: 0 5px hsl(84, 41%, 25%);

  transform: translateY(4px);
  cursor: not-allowed;
}

/* -------------------------------------------------------------------------- */
.buttonConverting {
  background-color: hsl(282, 41%, 40%);
  box-shadow: 0 5px hsl(282, 41%, 25%);

  transform: translateY(4px);
  cursor: not-allowed;
}

/* -------------------------------------------------------------------------- */
.buttonConverting:hover {
  background-color: hsl(282, 41%, 40%);
  box-shadow: 0 5px hsl(282, 41%, 25%);

  transform: translateY(4px);
  cursor: not-allowed;
}

.version {
  font-size: 0.8rem;
  font-family: "Keycaps", sans-serif;
}

/* -------------------------------------------------------------------------- */
input {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
}


/*
* Progress Bar
*/

/* --------------------------------------------------------------------------- */
.progressContainer {
  width: 100%;

  margin: 0.5rem 0;
  background: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
}

.progress-bar {
  height: 20px;
  background: linear-gradient(90deg, #4caf50, #81c784);
  width: 0%;
  transition: width 0.4s ease-in-out;
}


:root {
  --bar-width: 8px;
  --bar-height: 32px;
  --bar-color: currentColor;
  --animation-duration: 1.2s;

  --loader-width: calc(var(--bar-width) * 5);
  --loader-height: calc(var(--bar-height) * 1);

}


.lds-facebook {
  display: inline-block;
  position: relative;
  width: var(--loader-width);
  height: var(--loader-height);
  transform: translateY(-12.5%);
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  width: var(--bar-width);
  background: var(--bar-color);
  animation: lds-facebook var(--animation-duration) cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: calc(var(--loader-width) * 0.1);
  animation-delay: calc(-1 * var(--animation-duration) * 0.2);
}

.lds-facebook div:nth-child(2) {
  left: calc(var(--loader-width) * 0.4);
  animation-delay: calc(-1 * var(--animation-duration) * 0.1);
}

.lds-facebook div:nth-child(3) {
  left: calc(var(--loader-width) * 0.7);
  animation-delay: 0s;
}

@keyframes lds-facebook {
  0% {
    top: calc(var(--loader-height) * 0.1);
    height: var(--bar-height);
  }

  50%,
  100% {
    top: calc(var(--loader-height) * 0.3);
    height: calc(var(--bar-height) * 0.5);
  }
}