@font-face {
  font-family: 'Round';
  src: url('./round.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
body {
  background-color: #121212;
  background-color: #3a3938;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* -------------------------------------------------------------------------- */
.app {
  text-align: center;
  background-color: #c2baa7;
  width: 80%;
  max-width: 420px;
  padding: 1.5rem;
  border-radius: 6px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

  box-shadow: 0px 20px #9e9888;
  margin-bottom: 20px;
}

/* -------------------------------------------------------------------------- */
header {
  z-index: 1;
  margin-bottom: 1rem;
  display: flex;
  background-color: #67625B;
  font-family: 'Round', sans-serif;
  padding: 0.5rem;
  padding-bottom: 1rem;
  border-radius: 8px;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

header h2 {
  color: gray;
  font-size: 0.8rem;
}


/*
* Cover
*/

/* -------------------------------------------------------------------------- */
.coverContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  max-height: 180px;
}

.coverContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  /* Ensures it doesn't interfere with interactions */
}

.coverContainer img {
  width: 100%;
  height: 100%;

  border-radius: 8px;
  object-fit: cover;
  /* background-color: #333; */
}

/*
* Audio
*/

/* -------------------------------------------------------------------------- */
audio {
  width: 100%;
  margin: 1rem 0;
}

#audioPlayer {
  /* display: none; */
}


/*
* Controls
*/

/* -------------------------------------------------------------------------- */
.controlsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.downloadButtonsContainer {
  display: flex;
  gap: 0.5rem;
}

.downloadButtonsContainer button {
  width: 100%;
}

/* -------------------------------------------------------------------------- */
button {
  border: none;
  padding: 0.7rem;
  background-color: #564236;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 8px #4c3a2f;
  margin-bottom: 8px;
  cursor: hand;
}


/* -------------------------------------------------------------------------- */
button:hover {
  background-color: #4b392f;
  box-shadow: 0 8px #372A22;
}

button:active {
  box-shadow: 0 3px #2A2118;
  transform: translateY(4px);
}



/* -------------------------------------------------------------------------- */
.buttonDisabled {
  background-color: rgb(108, 108, 108);
  color: white;
  transform: translateY(4px);
  box-shadow: 0 5px rgb(59, 59, 59);
  cursor: not-allowed;
}

/* -------------------------------------------------------------------------- */
.buttonDisabled:hover {
  background-color: rgb(108, 108, 108);
  color: white;
  transform: translateY(4px);
  box-shadow: 0 5px rgb(59, 59, 59);
  cursor: not-allowed;
}

/* -------------------------------------------------------------------------- */
.buttonDownloading {
  background-color: rgb(89, 86, 255);
  color: white;
  transform: translateY(4px);
  box-shadow: 0 5px rgb(59, 59, 59);
  cursor: not-allowed;
}

/* -------------------------------------------------------------------------- */
.buttonDownloading:hover {
  background-color: rgb(89, 86, 255);
  color: white;
  transform: translateY(4px);
  box-shadow: 0 5px rgb(59, 59, 59);
  cursor: not-allowed;
}

/* -------------------------------------------------------------------------- */
input {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
}


/*
* Progress Bar
*/

/* --------------------------------------------------------------------------- */
.progressContainer {
  width: 100%;

  margin: 0.5rem 0;
  background: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
}

.progress-bar {
  height: 20px;
  background: linear-gradient(90deg, #4caf50, #81c784);
  width: 0%;
  transition: width 0.4s ease-in-out;
}